@charset "utf-8";
/* CSS Document */

input[type="submit"] {padding:0 10px; height:31px; line-height:31px; border-radius:4px; background:url(../images/bg_soft_right_top.gif) 0 -100px repeat-x; border:1px solid #8d9a9e; color:#3f4b54; font-size:13px; text-shadow:0 1px 0 rgba(255,255,255,0.5); cursor:pointer;}
input[type="submit"]:hover {background-position:0 -140px;}

.percentage_box {background:#e6e5be;background:-webkit-linear-gradient(top, rgba(244,233,141,.3), rgba(232,209,62,.3), rgba(225,194,40,.3));background:-moz-linear-gradient(top, rgba(244,233,141,.3), rgba(232,209,62,.3), rgba(225,194,40,.3));background:-ms-linear-gradient(top, rgba(244,233,141,.3), rgba(232,209,62,.3), rgba(225,194,40,.3));background:-o-linear-gradient(top, rgba(244,233,141,.3), rgba(232,209,62,.3), rgba(225,194,40,.3));background:linear-gradient(top, rgba(244,233,141,.3), rgba(232,209,62,.3), rgba(225,194,40,.3));border-radius:5px;border:1px solid;border-color:#d3c6a3 #cabc90 #c1b37f #c9bc8f;-webkit-box-shadow:inset 0 1px 0 #fff;box-shadow:inset 0 1px 0 #fff;color:#716536;font-size:12px;line-height:18px;text-shadow:0 1px 0 rgba(255,255,255, 0.7);padding:20px;}
.percentage_box .percentage_bg {border-radius:5px; border:1px solid; border-color:#d3c6a3 #cabc90 #c1b37f #c9bc8f; height:20px; background:#fff; box-shadow:inset 0 1px 0 #fff; overflow:hidden;}
.percentage_box .percentage_text {font-size:12px; padding-top:5px;}

span.input_file {-webkit-border-radius: 3px;-moz-border-radius: 3px;border:none;border-radius: 3px;background-color: #eaf1f3!important;-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px #FFFFFF inset, 0 0 1px rgba(255, 255, 255, 0.5) inset;box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px #FFFFFF inset, 0 0 1px rgba(255, 255, 255, 0.5) inset;background-image: -webkit-linear-gradient(bottom, #d7e3e7, #fff);background-image: -moz-linear-gradient(bottom, #d7e3e7, #fff);background-image: -ms-linear-gradient(bottom, #d7e3e7, #fff);background-image: -o-linear-gradient(bottom, #d7e3e7, #fff);
	background-image: linear-gradient(bottom, #d7e3e7, #fff);color:#3f4b54;cursor:pointer;display:inline-block;font-weight:bold;font-size:13px;height: 18px;text-shadow:0 1px #fff;text-decoration:none;vertical-align:top;padding:6px 15px 5px 12px;position:relative;overflow: hidden;white-space: nowrap;}
span.input_file * {vertical-align:middle;}
span.input_file em {display:inline-block; *zoom:1; *display:inline; width:10px; height:18px; background:url(../images/icon.gif) 0 -1049px no-repeat; margin-right:5px;cursor:pointer;}
span.input_file span {line-height:18px;cursor:pointer;}
span.input_file input[type="file"] {right:0; top:0; opacity:0; height:28px; width:122px; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; position:absolute; cursor:pointer;}
span.input_file:hover {background:#f5f7f8;}
.imgLoading {display:inline-block; *zoom:1; *display:inline; padding-left:20px;}
.imgLoading em {display:inline-block; *zoom:1; *display:inline; width:16px; height:16px; background:url(../images/load.gif) no-repeat; margin-right:5px;}
.imgLoading span {font-size:12px; color:#333;}

div.tdbox {position:relative;}
.editMenuBox {background:#646c7a url(../images/edm_menubg.gif) no-repeat; position:absolute; width:160px; padding:7px 0 0 20px; height:36px; top:2px; right:2px; display:none; z-index:9999;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: #d1d1d1 0px 2px 2px;
-moz-box-shadow: #d1d1d1 0px 2px 2px;
box-shadow: #d1d1d1 0px 2px 2px;}
.editMenuBox a{color:#ecf8ff; cursor:pointer; display:inline-block; *zoom:1; *display:inline; line-height:16px; height:16px; font-weight:bold; padding:5px 10px; margin-left:8px;
-webkit-border-radius: 4px; border:1px solid #646c77; border-bottom:1px solid #4e545d; font-family:"微软雅黑"; font-size:12px; text-decoration:none;
border-radius: 4px;
-webkit-box-shadow: #666 0px 2px 3px;
-moz-box-shadow: #666 0px 2px 3px;
box-shadow: #666 0px 2px 3px;
background: #8f98a6;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#8f98a6), to(#7a8493));
background: -webkit-linear-gradient(#8f98a6, #7a8493);
background: -moz-linear-gradient(#8f98a6, #7a8493);
background: -ms-linear-gradient(#8f98a6, #7a8493);
background: -o-linear-gradient(#8f98a6, #7a8493);
background: linear-gradient(#8f98a6, #7a8493);
-pie-background: linear-gradient(#8f98a6, #7a8493);
text-shadow:0 1px rgba(0,0,0,0.7);}
.editMenuBox a.first {margin-left:0;}
.editMenuBox a * {vertical-align:middle;}
.editMenuBox a em {display:inline-block; *zoom:1; *display:inline; line-height:16px; height:16px; width:16px; margin-right:8px;}
.editMenuBox a.edit em {background:url(../images/icon_edm.png) no-repeat; margin-right:8px;}
.editMenuBox a.del em {background:url(../images/icon_edm_del.png) no-repeat; margin-right:8px;}
.editMenuBox a:hover {background: #a3acba;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a3acba), to(#858f9e));
background: -webkit-linear-gradient(#a3acba, #858f9e);
background: -moz-linear-gradient(#a3acba, #858f9e);
background: -ms-linear-gradient(#a3acba, #858f9e);
background: -o-linear-gradient(#a3acba, #858f9e);
background: linear-gradient(#a3acba, #858f9e);
-pie-background: linear-gradient(#a3acba, #858f9e);}
.editMenuBox a:hover em {background-position: left bottom;}

.popbox_bg {position:absolute; z-index:999; width:100%; height:100%; top:0; background:#000; background:none\9; filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7; background:url(../images/bg_pop.png)\9; _background:url(../images/bg_pop.gif); display:none;}
.popbox_core {border-radius: 4px; background-color: #fff; -webkit-box-shadow: 0 18px 37px 6px rgba(16,39,53,.69); box-shadow: 0 18px 37px 6px rgba(16,39,53,.69);position: absolute;	overflow: hidden; width:750px; z-index:1000; overflow:hidden; display:none;}
.popbox_core .popbox_head {background-color: #e2ebee; border-bottom:1px solid#a9a9a9; -webkit-box-shadow: 0 1px 0 0 #e5e5e5, 0 -1px 0 0 #ecf1f3 inset, inset 0 1px 0 0 #fff, inset 0 0 0 1px #e9f0f2; box-shadow: 0 1px 0 0 #e5e5e5, 0 -1px 0 0 #ecf1f3 inset, inset 0 1px 0 0 #fff, inset 0 0 0 1px #e9f0f2;	border-radius:4px 4px 0 0;	height: 52px; line-height:49px; text-align:left;}
.popbox_core .popbox_head span.title{display: inline-block; *zoom:1; *display:inline; padding:0 0 0 14px; font-size: 18px; text-shadow:0 1px #fff; color: #282a2c; text-align:left; font-family:"微软雅黑";}
.popbox_core .popbox_head .popbox_head_right {position: absolute; top: 0; right: 0; margin: 11px 0 0 15px; padding: 0 15px 0 0; background-color: #E2EBEE; height:30px;}
.popbox_core .popbox_head .popbox_head_right a.popbox_close{display: inline-block; height: 30px; width: 28px; cursor: pointer; background:url(../images/icon.gif) 9px -980px no-repeat;}
.popbox_core .popbox_head .popbox_head_right a.popbox_close:hover {background-position:9px -1010px;}
.popbox_core .popbox_workspace {margin:16px 12px 14px; width:726px; overflow:hidden; text-align:left; font-family:"微软雅黑";}
.popbox_core .popbox_workspace .popbox_frombox {padding:17px 22px 22px; border: solid 1px #dce7ed; background-color: #f5f9f9;}

.popbox_workspace .popbox_frombox dl {line-height:36px; height:36px; margin-bottom:4px; font-size:13px; text-shadow:0 1px 0 rgba(255,255,255,0.5); margin:0;}
.popbox_workspace .popbox_frombox dl dt {width:100px; line-height:36px; float:left; padding:0; margin:0;}
.popbox_workspace .popbox_frombox dl dd {width:520px; line-height:36px; float:left; padding:0; margin:0;}


.popbox_workspace .popbox_frombox dl dd input.text {border:1px solid #a3a5a5; height:29px; line-height:29px; width:120px;-moz-box-shadow:0px 3px 3px #d8dedf inset; -webkit-box-shadow:0px 3px 3px #d8dedf inset; box-shadow:0px 3px 3px #d8dedf inset; padding-left:5px; width:520px; border-radius:4px;}

.popbox_workspace .popbox_frombox div {clear:both;}

.popbox_workspace ul.producr_list {padding:0 0 12px 0; margin:0;}
.popbox_workspace ul.producr_list li {display:block; height:60px; padding:10px; background-color:#fff; border:1px solid; border-color:#c4ced2 #dce7ed #dce7ed; margin:0 0 8px 0;}
.popbox_workspace ul.producr_list li * {vertical-align:middle;}
.popbox_workspace ul.producr_list li img {display:inline-block; *zoom:1; *display:inline; width:60px; height:60px; margin:0 10px;}
.popbox_workspace ul.producr_list li p {display:inline-block; *zoom:1; *display:inline;}

.popbox_workspace ul.producr_list_Direct {padding:0 0 12px 0; margin:0; display:none;}
.popbox_workspace ul.producr_list_Direct li {display:inline-block; *zoom:1; *display:inline; width:149px; height:149px; padding:5px; background-color:#fff; border:1px solid; border-color:#c4ced2 #dce7ed #dce7ed; margin:0 5px 8px 5px; cursor:pointer;}

.popbox_workspace .submitbox {padding-top:10px; text-align:center;}
.popbox_workspace .submitbox input.submit{background-color: #86ad00; font-family:"微软雅黑";
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.25), inset 0 1px 0 #cbdc00;
	box-shadow: 0 1px 1px rgba(0,0,0,.25), inset 0 1px 0 #cbdc00;
	border: solid 1px;
	border-color:#97c004 #7ea502 #648900;
	background-image: -webkit-linear-gradient(bottom, #729e00, #97ba00);
	background-image: -moz-linear-gradient(bottom, #729e00, #97ba00);
	background-image: -ms-linear-gradient(bottom, #729e00, #97ba00);
	background-image: -o-linear-gradient(bottom, #729e00, #97ba00);
	background-image: linear-gradient(bottom, #729e00, #97ba00);
	color:#fff;
	text-shadow:0 1px rgba(0,0,0,0.1);
	-webkit-font-smoothing: antialiased;
	padding:6px 18px;
	background-image:none\0;
	cursor:pointer; border-radius:4px; line-height:18px;}

.popbox_workspace .submitbox input.submit:hover {background-color:#9ec710!important;
	background-image: -webkit-linear-gradient(top, #acce11, #8abb0d)!important;
	background-image: -moz-linear-gradient(top, #acce11, #8abb0d)!important;
	background-image: -ms-linear-gradient(top, #acce11, #8abb0d)!important;
	background-image: -o-linear-gradient(top, #acce11, #8abb0d)!important;
	background-image: linear-gradient(top, #acce11, #8abb0d)!important;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 #d5e71a inset;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 #d5e71a inset;
	border-color:#97c004 #7ea502 #648900;}
	
.pagefen {padding:0 0 0 0; height:28px; clear:both; text-align:center; display:none;}
.pagefen a {display:inline-block; *zoom:1; *display:inline;	border:1px solid;border-color:#99acb5 #99acb5 #99acb5 #99acb5;border-radius:2px;	-webkit-box-shadow:inset 0 1px 0 #fff;box-shadow:inset 0 1px 0 #fff;color:#5e5e5e;height:18px;font-size:12px;font-weight:bold;line-height:14px;text-shadow:0 1px #fff;	text-decoration:none;text-align:center;	margin:0 6px 0 0;padding-top:5px; vertical-align:top;	min-width:24px; cursor:pointer; background:url(../images/bg_soft_right_top.gif) 0 -105px no-repeat;}
.pagefen a:hover {background-position:0 -182px;}
.pagefen a.onthis,
.pagefen a.onthis:hover {background:#6f797f; -webkit-box-shadow:0 1px 0 #fff, inset 0 1px 4px #4e5559; box-shadow:0 1px 0 #fff, inset 0 1px 4px #4e5559; 	border-color:#565e63 #5d666b #5e676c #5d666b; color:#efefef; text-shadow:0 1px #60686d; cursor:default;}
.pagefen a em {display:inline-block; *zoom:1; *display:inline; height:18px; width:8px; background:url(../images/icon.gif) no-repeat; cursor:pointer;}
.pagefen a em.prev {background-position:0 -1089px;}
.pagefen a em.next {background-position:0 -1119px;}

.popbox_workspace .table_workspace_infoBox {background-color:#f5f9f9;	border:1px solid; border-color:#c4ced2 #dce7ed #dce7ed;	padding:20px 20px 20px 20px;}
.popbox_workspace .table_workspace_infoBox .addProductBox {background-color:#fff; border:1px solid; border-color:#c4ced2 #dce7ed #dce7ed;	padding:20px 20px 20px 20px; margin-bottom:5px;}
.popbox_workspace .table_workspace_infoBox .addProductBox2 {background-color:#fff; border:1px solid; border-color:#c4ced2 #dce7ed #dce7ed;	padding:20px 20px 20px 20px; margin:0 5px 8px;}
.popbox_workspace .table_workspace_infoBox .loadingBox {background-color:#FFF; text-align:center; line-height:200px; display:none; border:1px solid; border-color:#c4ced2 #dce7ed #dce7ed; margin-bottom:20px;}
.popbox_workspace .table_workspace_infoBox .loadingBox .loadingImg {width:16px; height:16px; background:url(../images/load.gif) center center no-repeat; margin:auto; padding:50px 0;}

.popbox_workspace .tab_box {-webkit-box-shadow:0 1px 0 0 #e5e5e5; box-shadow:0 1px 0 0 #e5e5e5; padding:0 0 6px 0;position:relative;	white-space:nowrap; /*background:url(../images/icon.gif) left -384px repeat-x;*/ background:url(../images/bg_tab.gif) left bottom no-repeat; z-index:1; margin-bottom:1px;}
.popbox_workspace .tab_box a.menu {display:inline-block; *zoom:1; *display:inline; padding:0 10px; height:29px; line-height:29px; border-radius:4px 4px 4px 4px; background:url(../images/bg_soft_right_top.gif) 0 -100px repeat-x; border:1px solid #8d9a9e; color:#3f4b54; font-size:13px; text-shadow:0 1px 0 rgba(255,255,255,0.5); text-decoration:none; cursor:pointer; margin-top:7px;}
.popbox_workspace .tab_box a.menu:hover {background-position:0 -140px; text-decoration:none;}

.popbox_workspace .tab_box span.detail_tab {
	background:url(../images/icon.gif) left -329px repeat-x;
	display:inline-block;
	border-radius:4px 4px 0 0;
	border:1px solid;
	border-color:#d2dbdd #bec6c8;
	border-bottom:none;
	-webkit-box-shadow:inset 0 1px 0 0 #fff;
	box-shadow:inset 0 1px 0 0 #fff;
	color:#3f4b54;
	cursor:pointer;
	height:28px;
	font-size:13px;
	font-weight:bold;
	margin:7px 7px 0 0;
	text-shadow:0 1px #fff;
	padding:10px 20px 0;
	vertical-align:top;
}

.popbox_workspace .tab_box span.detail_tab:hover {background-position: left -449px;}

.popbox_workspace .tab_box span.active {
	background-position:0 -270px;
	border-bottom:1px solid #e9eff1;
	color:#000;
	margin:0 7px 0 0;
	bottom:-1px;
	height:31px;
	padding-top:14px;
	position:relative;
	cursor: auto;
	z-index:2;
}
.popbox_workspace .tab_box span.active:hover {background-position:0 -270px;}

.default_dl {margin:0 0 4px 0; height:31px; line-height:31px;}
.default_dl dt {height:31px; width:100px; float:left; display:block;}
.default_dl dt * {vertical-align:middle;}
.default_dl dd {height:31px; display:block; float:left;}
.default_dl dd * {vertical-align:middle;}
.default_dl dd input[type="text"] {width:50px;}
.default_dl dd span.bgColor {display:inline-block; *zoom:1; *display:inline; width:20px; height:20px; background:#ccc; margin-right:8px; border:1px solid #999;}

input[type="text"] {border:1px solid #a3a5a5; height:29px; line-height:29px; -moz-box-shadow:0px 3px 3px #d8dedf inset; -webkit-box-shadow:0px 3px 3px #d8dedf inset; box-shadow:0px 3px 3px #d8dedf inset; padding-left:5px; border-radius:4px; font-family:"微软雅黑";}