@charset "utf-8";
/* CSS Document */

.bigEventBox {padding-left:30px; background:url(../images/jt_l.gif) 8px bottom no-repeat;}
.bigEventBox .stageBox {height:150px; background:#fff; border:1px solid #dce7ed; border-top:1px solid #c4ced2; margin-bottom:20px;}
.bigEventBox .stageBox .stageBox_body {height:125px; padding-left:30px; position:relative;}
.bigEventBox .stageBox .stageBox_body .stageName {width:16px; padding:5px 7px; font-size:14px; height:115px; position:absolute; left:0px; top:0px; background:#f8696b; text-align:center; color:#fff; word-break:break-all; overflow:hidden;}
.bigEventBox .stageBox .stageBox_body .stageName p {word-break:break-all;}
.bigEventBox .stageBox .stageBox_body .stageName_color_1 {background:#f8696b}
.bigEventBox .stageBox .stageBox_body .stageName_color_2 {background:#f8736d}
.bigEventBox .stageBox .stageBox_body .stageName_color_3 {background:#f97e6f}
.bigEventBox .stageBox .stageBox_body .stageName_color_4 {background:#f98971}
.bigEventBox .stageBox .stageBox_body .stageName_color_5 {background:#fa9473}
.bigEventBox .stageBox .stageBox_body .stageName_color_6 {background:#fa9f75}
.bigEventBox .stageBox .stageBox_body .stageName_color_7 {background:#fcbf7b}
.bigEventBox .stageBox .stageBox_body .stageName_color_8 {background:#fdca7d}
.bigEventBox .stageBox .stageBox_body .stageName_color_9 {background:#fde17f}
.bigEventBox .stageBox .stageBox_body .stageName_color_10 {background:#ffeb84}
.bigEventBox .stageBox .stageBox_body .stageName .stageNameFunBox {position:absolute; border-radius:10px; width:26px; height:52px; background:#fff; left:2px; bottom:2px; display:none;}
.bigEventBox .stageBox .stageBox_body .stageName .stageNameFunBox a.delStage {display:block; position:absolute; width:16px; height:16px; background:url(../images/event_icon.png) left -160px no-repeat; left:5px; bottom:7px;}
.bigEventBox .stageBox .stageBox_body .stageName .stageNameFunBox a.editStage {display:block; position:absolute; width:16px; height:16px; background:url(../images/event_icon.png) left -96px no-repeat; left:5px; top:7px;}
.bigEventBox .stageBox .stageBox_date {height:24px; line-height:24px; background:#f5f5f5; border-top:1px solid #dadada; text-align:center;}
.bigEventBox .stageBox .stageBox_body .stageMainBox {height:115px; width:750px; padding:10px 0 0 10px; overflow-x:scroll;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox {width:138px; height:88px; border-radius:10px; margin-right:10px; float:left; position:relative; border:1px solid #a4adb4; background:#a4adb4;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#d9e3e4), to(#a4adb4));
background: -webkit-linear-gradient(#d9e3e4, #a4adb4);
background: -moz-linear-gradient(#d9e3e4, #a4adb4);
background: -ms-linear-gradient(#d9e3e4, #a4adb4);
background: -o-linear-gradient(#d9e3e4, #a4adb4);
background: linear-gradient(#d9e3e4, #a4adb4);}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox_add {cursor:pointer; border:1px solid #efe9bb; background:#efe9bb;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f5f4d6), to(#efe9bb));
background: -webkit-linear-gradient(#f5f4d6, #efe9bb);
background: -moz-linear-gradient(#f5f4d6, #efe9bb);
background: -ms-linear-gradient(#f5f4d6, #efe9bb);
background: -o-linear-gradient(#f5f4d6, #efe9bb);
background: linear-gradient(#f5f4d6, #efe9bb);}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox_End {border:1px solid #d9d3a1; background:#d9d3a1;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eae5b8), to(#d9d3a1));
background: -webkit-linear-gradient(#eae5b8, #d9d3a1);
background: -moz-linear-gradient(#eae5b8, #d9d3a1);
background: -ms-linear-gradient(#eae5b8, #d9d3a1);
background: -o-linear-gradient(#eae5b8, #d9d3a1);
background: linear-gradient(#eae5b8, #d9d3a1);}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox_add .addIcon {width:59px; height:59px; margin:8px auto 0 auto; background:url(../images/add.png) no-repeat;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox_add .addIcon a {display:block; width:59px; height:59px;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox_add .linkBox {text-align:center; padding-top:3px;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventJt {width:44px; height:90px; float:left; background:url(../images/jt_r.gif) left center no-repeat;}

.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox .stageEventText {text-align:center; padding-top:16px;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox .stageEventText p {line-height:18px;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox_End .stageEventText p a {color:#333;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox .sendType {width:16px; height:16px; background:url(../images/event_icon.png) no-repeat; position:absolute; left:7px; top:7px;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox .sendType_edm {}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox .sendType_sms {background-position:left -16px;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox .eventStatus {width:16px; height:16px; background:url(../images/event_icon.png) no-repeat; position:absolute; right:7px; top:7px;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox .eventStatus_Unfinished {background-position:left -32px;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox .eventStatus_Ready {background-position:left -48px;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox .eventStatus_End {background-position:left -64px;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox .eventStatus_Exceed {background-position:left -128px;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox .eventStatus_Pause {background-position:left -144px;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox .funBox {height:16px; width:124px; position:absolute; right:7px; bottom:3px; display:none;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox .funBox a.funa {display:block; float:right; width:16px; height:16px; background:url(../images/event_icon.png) no-repeat; margin-left:5px;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox .funBox a.funa_Del {background-position:left -80px;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox .funBox a.funa_Edit {background-position:left -96px;}
.bigEventBox .stageBox .stageBox_body .stageMainBox .stageEventBox .funBox a.funa_Report {background-position:left -112px;}